<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <scommerce_core>
            <general>
                <cron>0 0 * * *</cron>
                <api_endpoint>https://www.scommerce-mage.com/license_checker/license/validate</api_endpoint>
            </general>
        </scommerce_core>
    </default>
</config>
