<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="scommerce" translate="label" sortOrder="400">
            <label>Scommerce Configuration</label>
        </tab>
        <section id="scommerce_core"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="0">
            <label>Core</label>
            <tab>scommerce</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Scommerce_Core::config</resource>
            <group id="general"
                   translate="label"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="modules"
                       translate="label"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <frontend_model>Scommerce\Core\Block\Adminhtml\System\Config\Form\Field\Modules</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
